html, body {
  height: 100%;
}

html {
  font-size: 14px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  line-height: 24px;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #f39c12;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 24px;
  font-size: 1.71429rem;
  font-weight: 400;
}

h2 {
  color: #383838;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

h3 {
  color: #6e6e6e;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 15px;
  font-size: 1.07143rem;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  padding-top: 2px;
  color: #686767;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.title {
  padding-bottom: 9px;
  border-bottom: 3px solid #f39c12;
}

.title-border {
  max-width: 404px;
  margin: 0 auto;
  margin-bottom: 52px;
  padding-bottom: 18px;
  border-bottom: 1px solid #f39c12;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title-border {
    margin: 0 auto;
    margin-bottom: 52px;
  }
}

.clearfix:after, .header__main:after, .header:after, .about:after, .service:after {
  clear: both;
  content: '';
  display: table;
}

.container, .service {
  max-width: 62%;
  margin: 0 auto;
  width: 100%;
}

.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header__main {
  position: relative;
  width: 100%;
  height: 50px;
  background: rgba(27, 27, 27, 0.7);
  z-index: 2;
}

.header__main__logo {
  float: left;
  margin: 13px 0 0 5%;
  overflow: hidden;
  white-space: nowrap;
}

.header__main__logo b {
  font-weight: 700;
}

.header__main__logo--item {
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #ffffff;
}

.header__main__logo span {
  color: #f39c12;
}

@media only screen and (min-width: 768px) {
  .header__main {
    height: 95px;
  }
  .header__main__logo {
    margin: 35px 0 0 19%;
  }
}

.header__main__nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  background: url(../images/ic/svg/ic-menu.svg) no-repeat center center;
  background-size: 44px 44px;
  cursor: pointer;
}

.header__main__nav__list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.header__main__nav__list.is-visible {
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

@media only screen and (min-width: 768px) {
  .header__main__nav__list.is-visible {
    -moz-transform: translateY(95px);
    -o-transform: translateY(95px);
    -ms-transform: translateY(95px);
    -webkit-transform: translateY(95px);
    transform: translateY(95px);
  }
}

.header__main__nav--item {
  display: block;
  height: 50px;
  padding-left: 5%;
  line-height: 50px;
  background: #1b1b1b;
  border-top: 1px solid #1e1e1e;
  color: #bbbbbb;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@media only screen and (min-width: 768px) {
  .header__main__nav--item {
    text-align: center;
  }
}

@media only screen and (min-width: 1170px) {
  .header__main__nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .header__main__nav__list {
    position: static;
    width: auto;
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    line-height: 95px;
  }
  .header__main__nav__list.is-visible {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1170px) and (min-width: 768px) {
  .header__main__nav__list.is-visible {
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1170px) {
  .header__main__nav--item {
    display: inline-block;
    height: auto;
    line-height: 24px;
    background: transparent;
    padding: .6em 11px;
    border-top: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    font-size: 1rem;
  }
  .no-touch .header__main__nav--item:hover {
    color: #f39c12;
  }
}

@media only screen and (min-width: 768px) {
  .header__main__nav {
    margin-right: 19%;
  }
}

.header {
  position: relative;
  height: 100%;
  background: url(../images/pic/bg-header.png) no-repeat center center;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 1170px) {
  .header {
    height: 836px;
  }
}

.header__intro-unit {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  width: 90%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.header__intro-unit--title {
  text-align: center;
  font-size: 32px;
  font-size: 2.28571rem;
  font-weight: 300;
  line-height: 42px;
  font-family: "Raleway", Arial, sans-serif;
  text-transform: uppercase;
  color: #f39c12;
}

.header__intro-unit--title strong {
  font-weight: 700;
  color: #ffffff;
}

@media only screen and (min-width: 768px) {
  .header__intro-unit--title {
    text-align: right;
    font-size: 40px;
    font-size: 2.85714rem;
  }
}

@media only screen and (min-width: 1170px) {
  .header__intro-unit--title {
    font-size: 48px;
    font-size: 3.42857rem;
    line-height: 50px;
  }
}

.header__intro-unit .button {
  margin-right: 16px;
  margin-top: 64px;
}

.header__intro-unit .button:nth-of-type(2) {
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .header__intro-unit .button {
    margin-top: 84px;
  }
  .header__intro-unit .button:nth-of-type(1) {
    margin-left: 64px;
  }
}

@media only screen and (min-width: 768px) {
  .header__intro-unit {
    max-width: 62%;
    width: 100%;
  }
}

.about {
  margin-top: 66px;
}

@media only screen and (min-width: 768px) {
  .about {
    margin-top: 116px;
  }
}

.about__image {
  display: none;
  float: none;
  max-height: 632px;
}

@media only screen and (min-width: 768px) {
  .about__image {
    display: block;
    float: left;
    width: 46%;
  }
}

.about__aside {
  display: table-cell;
  width: 100%;
  padding: 0 5%;
}

@media only screen and (min-width: 768px) {
  .about__aside {
    margin-top: 0;
    width: 54%;
    padding: 0 10%;
  }
}

.service {
  margin-top: 122px;
}

.service__list--item {
  float: left;
  width: 23.92113%;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.service__list--item:nth-of-type(4n) {
  margin-right: 0;
}

.service__list--item a {
  display: block;
  box-shadow: inset 0 0 0 1px #bbbbbb;
  background: #ffffff;
  padding: 0 3%;
}

.service__list--item a:hover {
  background: #f39c12;
}

.service__list--item--ic-camera {
  display: inline-block;
  margin-top: 28px;
  width: 54px;
  height: 54px;
  border-radius: 50px;
  background: #919190 url(../images/ic/ic-camera.png) no-repeat center center;
  background-size: 24px;
}

.service__list--item--title {
  margin-top: 25px;
}

.service__list--item--description {
  margin: 25px 0 35px 0;
}

.button {
  padding: 8px 26px;
  border: none;
  box-shadow: none;
  font-size: 12px;
  font-size: 0.85714rem;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #f39c12;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: #f4a62a;
}

.button--outline {
  color: #ffffff;
  background: transparent;
  box-shadow: inset 0 0 0 1px #ffffff;
}

.button--outline:hover {
  color: #f39c12;
  background: #ffffff;
}

@media only screen and (min-width: 480px) {
  .button {
    font-size: 14px;
    font-size: 1rem;
  }
}
