// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Grid Variables
$wrap-width: ceil(100 / 1344 * 820%)
$wrap-left: ceil((100 - $wrap-width) / 2)
$wrap-right: $wrap-left

/// Colors
$white: #ffffff

$dark-gray: #1b1b1b
$light-grey: #bbbbbb
$primary-color: #f39c12

// $font-color:
// $primary-color: 
// $secondary-color:
// $link-color:
// $border-color:
// $dark-grey:
// $light-grey:

/// Typography
$font-family-roboto: "Roboto", Arial, sans-serif
$font-family-raleway: "Raleway", Arial, sans-serif
$font-family-arial: Arial, sans-serif

$font-size-base: 14px
$font-size-large: ceil(($font-size-base * 1.25)) // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) // ~12px

$font-size-h1: floor(($font-size-base * 1.714)) // ~14px
$font-size-h2: floor(($font-size-base * 2.15)) // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)) // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)) // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)) // ~12px

$line-height-base: 24px
$line-height-computed: floor(($font-size-base * $line-height-base)) // ~20px

$base-font-weight: 700

/// Links
$link-color: $white
$link-hover-color: $primary-color

/// Components
$margin-nav-horizontal: 22px

$padding-base-vertical:          6px
$padding-base-horizontal:        12px

$padding-large-vertical:         10px
$padding-large-horizontal:       16px

$padding-small-vertical:         5px
$padding-small-horizontal:       10px

$line-height-large:              1.33
$line-height-small:              1.5

$border-radius-base:             4px
$border-radius-large:            6px
$border-radius-small:            3px
